<% if @project %>
  <% if @post %>
    <p id="notice"><%= notice %></p>
    <div class="image-holder">
      <%= image_tag @post.image.url(:big) %>
    </div>
    <p class="post-title"><%= @post.title %></p>
    <p class="post-description"><%= @post.description %></p>
    <% @project.posts.each do |post| %>
      <p class="dot-buttons"><%= link_to "", project_post_path(@project, post) , class: "fa fa-circle" %></p>
    <% end %>
    <%= link_to 'Edit', edit_project_post_path(@project,@post) %>
  <% end %>
  <%= link_to "add work", new_project_post_path(@project) %>
  <% else %>
  <p class="post-description">Under Construction</p>
  <%= link_to "add a project", new_project_path %>
<% end %>


