<%= form_for @project do |f| %>


<div class="actions">
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "title" %>
  <%= f.label :section %>
  <%= f.collection_select(:section_id, @sections, :id, :title) %>
  <%= f.submit %>

</div>
<% end %>
