<%= form_for @project do |f| %>


<div class="actions">
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "name" %>
  <%= f.label :section %>
  <%= f.select :section, ["application","artwork", "about"] %>
  <%= f.submit %>

</div>
<% end %>
