  <div class="nav-holder">
    <header>

    <div class="logo-holder">
      <% if @avatar %>
      <%= link_to image_tag(@avatar.image.url(:thumb)), root_path %>
      <% else %>
      <p class="logo-title">Mike Lee</p>
      <% end %>
    </div>

  </header>
    <div class="nav-bar">
      <% if @sections %>
      <%= link_to "About", about_path, class: "nav-bar-links" %>
      <% @sections.each do |section| %>
        <% if section.title != "about" %>
        <%= link_to section.title, section_path(section), class: "nav-bar-links", id: section.id %>
        <% end %>
        <div class="sub-nav-bar" id="sub-nav<%= section.id %>">
          <% if @section == section && section.title != "about" %>
          <div class="projects-holder">
            <% section.projects.each do |project| %>
            <%= link_to project.title, project_path(project), class: "project-link" %>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>
      <% end %>
      <%= link_to "Contact", contact_path, class: "nav-bar-links" %>
      <%= link_to 'New Project', new_project_path, id: "new-project-link" %>
      <%= link_to "Create Section", new_section_path %>
    </div>


  </div>