  <div class="nav-holder">
    <header>

    <div class="logo-holder">
      <% if @avatar %>
      <%= image_tag @avatar.image.url(:thumb) %>
      <% else %>
      <p class="logo-title">Mike Lee</p>
      <% end %>
    </div>

  </header>
    <div class="nav-bar">
      <% if @sections %>
      <% @sections.each do |section| %>
        <%= link_to section.title, section_path(section) %>
      <% end %>
      <% end %>
      <%= link_to "Create Section", new_section_path %>
    </div>
    <div class="sub-nav-bar">
    <% if @section && @section.title != "about" %>

        <div class="projects-holder">
          <% @section.projects.each do |project| %>
          <p class="project-link"><%= link_to project.title, project_path(project) %></p>
          <% end %>
        </div>

    <% end %>
    <%= link_to 'New Project', new_project_path, id: "new-project-link" %>
    </div>

  </div>